nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

nav p {
  padding: 1.5em;
}

body span {
  font-family: 'Bungee', cursive;
}

