#navBar {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#navBar>p {
  padding: 1.5em;
}

body span {
  font-family: 'Bungee', cursive;
}

@media (max-width: 1023px) {
  #navBar {
    background-color: #e3bd00;
    background-image: url(http://www.transparenttextures.com/patterns/blizzard.png);
  }
}