.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#tooMuchChar {
  display: none;
  padding: 0.75em 1em;
  width: 100%;
  color: crimson;
  border: 2px solid crimson;
}

#noChar {
  display: none;
  padding: 0.75em 1em;
  width: 100%;
  color: crimson;
  border: 2px solid crimson;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.5em;
}

#tweet-text {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  resize: none;
  background-color: inherit;
}

form button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #ffffff;
}

.button-counter {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.red-text {
  color: crimson;
}

