article {
  margin: 1em 0;
  border: solid;
  /* font-weight: 300; */
}

article:hover {
  box-shadow: .75em .75em;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

header>div {
  display: flex;
}

.avatar {
  height: 2em;
  width: auto;
  align-self: center;
  padding-right: 0.5em;
}

.tweetArea {
  padding: 1em;
  border-bottom: 2px solid black;
  margin: 1em 1em;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
